<!DOCTYPE html>
<html ng-app="todoApp">
	<head>
		<title>My Todo App</title>
		<meta charset="utf-8">
        <script src="angular.js"></script>
        <script src ="Todo.js"></script>
        <style>
            body {
                font-family: "Verdana, Geneva, Tahoma, sans-serif";
                font-size:15px;
            }
			tr:nth-child(even) {
				background-color: #efefef;
			}
			table {
				border-spacing: 0px;
			}
			td {
				padding: 2px;
			}
        </style>
	</head>
    
    
    <body ng-controller="todoController">
    <h1>My ToDo Application</h1>
    <div style="padding-bottom:10px;">
        <button ng-click="deleteSelectedItems()" ng-show="arrItems.length >0" style="margin-left:50px;">Delete Selected Items</button>
        <button ng-click="deleteAllItems()" ng-show="arrItems.length >0" style="margin-left:100px;">Delete All</button>
    </div>
    
    <div name="container">
		<table>
		<tr ng-repeat="task in arrItems track by $index" name="taskRowDiv">
        <td name="taskNumDiv" style="width:40px;">      
            <input type="checkbox" ng-click="setItemToDelete($index)"></input>
            {{$index+1}}. 
        </td>
        <td name="taskDiv" style="width:300px;">{{task}}</td>
        <td name="deleteLinkDiv" style="width:100px;"><a href= "#" ng-click="deleteItemFn($index)">Delete</a></td>
		</tr>
		</table>
     </div>   
    
        <div style="margin-bottom:10px; margin-top:10px;">
            <input ng-model="taskItem"></input>
           <button ng-click="addItemFn()">Add Task</button>
           
               
       </div>  
     </body>
    
 </html>